# Dependencies
node_modules/
.pnp/
.pnp.js

# Expo
.expo/
dist/
web-build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
install.log

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo 

# Package management
package-lock.json
yarn.lock
pnpm-lock.yaml

# Keep app icons
!src/assets/images/*.png